*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  'Barlow', sans-serif;
    font-family: 'Kanit', sans-serif;
    font-family: 'Merriweather', serif;
    font-family: 'Work Sans', sans-serif; ;
}
/* Header style */
.bg-image{
    background-image: url(./images/banner/banner1.png);
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    object-fit: cover;
}
.header-box{
    width: 1100px;
    text-align: right;
    margin-inline: auto;
}
.header-title{
    padding-top: 160px;
    font-size: 60px;
    font-weight: bold;
}
.header-description{
    font-size: 15px;
    padding-block: 20px;
    
}
.pry-btn{
    background-color: #F15B22;
    color: #ffff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 25px;
}

/* Description section style */
.description{
    width: 1100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-inline: auto;
    margin-top: 100px;
}
.img{
    height: 80vh;
}
.description-text{
    padding-left: 60px;
    padding-top: 120px;
}
.description-title{
    font-size: 40px;
    text-align: left;
}
.sub-title{
    width: 350px;
    font-size: 12px;
    padding-top: 20px;
}
.sub-title-items{
    font-size: 12px;
    padding-top: 20px;
}
.right-mark{
    color: #08d108;
}
/* Plan section style */
.plan-section{
    width: 1000px;
    margin: 80px auto;
    text-align: center;
}
.plan-section h1{
    font-size: 35px;
}
.plan-card{
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
}
.plan-card .plan-main-card .card-img{
    width: 70px;
    height: 70px;
}
.plan-card .plan-main-card h2{
    padding-top: 15px;
}
.plan-card .plan-main-card h5{
    font-size: 20px;
    font-weight: 300;
    padding-top: 10px;
}
/* Contact section style */
.contact{
    position: relative;
    width: 1000px;
    height: 300px;
    margin-inline: auto;
    border-radius: 10px;
    background-image: url(./images/watch.png);
    background-repeat: no-repeat;
    margin-bottom: 50px;
    
}
.contact .gradient-img{
    width: 1000px;
    height: 300px;
    border-radius: 10px;
}
.contact .contact-title{
    position: absolute;
    left: 80px;
    top: 25%;
    font-size: 35px;
    width: 400px;
    color: #ffff;
}
.contact .btn{
    position: absolute;
    bottom: 60px;
    left: 80px;
    color: #F15B22;
    background-color: #ffff;
    font-weight: bold;
    
}

/* About section style */

.about{
    background-color: #532f20;
    width: 1000px;
    margin: 0 auto;
    padding: 10px;
    border-radius: 15px;
}
.about img{
    width: 40%;
    height: 450px;
    display: inline-block;
    vertical-align: middle;
    padding-left: 10px;
    border-radius: 80px 20px 80px 0px;
}
.about-text{
    width: 60%;
    display: inline-block;
    padding-left: 40px;
    padding-top: 20px;
    vertical-align: middle;
}
.about-text h2{
    color: #ffff;
    font-size: 4rem;
    letter-spacing: 2px;
    text-transform: capitalize;
    padding-top: 20px;
    padding-bottom: 20px;
}
.about-text h5{
    color: #ffff;
    font-size: 1.8rem;
    letter-spacing: 2px;
    padding-bottom: 25px;
}
.about-text p{
    color: #fcfc;
    font-size: 1.2rem;
    letter-spacing: 1px;
    padding-bottom: 30px;
}
button {
    background-color: #F15B22;
    color: #ffff;
    font-weight: bolder;
    padding: 13px 30px;
    border: 2px solid transparent;
    border-radius: 30px;
}
a{
    text-decoration: none;
    color: black;
}
/* Footer section style */
.footer-section{
    background-color: #222222;
    margin-top: 50px;
}
.footer{
    width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-items: left;
    justify-content: space-between;
    padding: 50px;
    
}
.footer .footer-items{
    width: 40%;
    color: #ffff;
}
.footer .footer-items h2{
    font-size: 30px;
    color: #F8F8F8;
}
.footer .footer-items .mail{
    color: #ffff;
}
 .footer-items p{
    font-size: 12px;
    text-align: left;
    font-weight: 300;
    padding-top: 20px;
    padding-bottom: 20px;
}
.footer .subscribe{
    width: 30%;
    color: #ffff;
}
.subscribe .input{
    width: 100%;
    height: 50px;
    background-color: #222222;
    margin-top: 20px;  
    border-radius: 10px;  
    border: none;
    border: #d3d0cf solid 2px;
}

input::placeholder{
    font-size: 15px;
    background-color: #222222;
    padding: 50px 10px;
    border: none;
}
.subscribe .pry-btn{
    width: 50%;
    margin-top: 20px;
}
