*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Header style */
.bg-image{
    background-image: url(./images/banner/banner1.png);
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    object-fit: cover;
}
.header-box{
    width: 1100px;
    text-align: right;
    margin-inline: auto;
}
.header-title{
    padding-top: 160px;
    font-size: 60px;
    font-weight: bold;
}
.header-description{
    font-size: 15px;
    padding-block: 20px;
    
}
.pry-btn{
    background-color: #F15B22;
    color: #ffff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 25px;
}

/* Description section style */
.description{
    width: 1100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-inline: auto;
    margin-top: 100px;
}
.img{
    height: 80vh;
    image-orientation: from-image;
}
.description-text{
    padding-left: 40px;
    padding-top: 50px;
}
.description-title{
    font-size: 35px;
    text-align: left;
}
.sub-title{
    width: 400px;
    font-size: 20px;
    padding-top: 20px;
}
.sub-title-items{
    font-size: 12px;
    padding-top: 20px;
}
.right-mark{
    color: green;
}